<!DOCTYPE html>
<!-- Default home page -->
<html>
	<head>
		<style>
		</style>
	</head>
	<body>
		<p>Hi <%= name %>,</p>
		<p>
			The form for <%= form %> failed to <%= issue %>.
		</p>
		<p>
			Go To Kobo Page for <a title="Go To Form <%= form %>" href="https://kobo.humanitarianresponse.info/#/forms/<%= assetUid %>/landing"><%= form %></a>.
		</p>
		<p>
			To fix the issue, please run the following command from the terminal;
		</p>
		<p style="color:#616161; background-color:#f5f5f5;">
			<i><%= cmd %></i>
		</p>
		<p>
			Once complete, please reply to this email with all team members in cc to close this issue.
		</p>

		<p><br/><%= sendername %></p>

	</body>
</html>