<!DOCTYPE html>
<!-- Default home page -->
<html>
	<head>
		<style>
		</style>
	</head>
	<body>
		<p>Hi <%= name %></p>
		<p>
			Your account has been activated:
			<ul>
        <li><b>Username: </b><%= username %></li>
        <br/>
			</ul>
		</p>
		<p>
			You can check your personal details on<a title="Profile <%= username %>" href="<%= url %>">Profile Page</a>.
		</p>
		<p><br/><%= sendername %></p>
	</body>
</html>
