<!DOCTYPE html>
<!-- Default home page -->
<html>
	<head>
	<style>
	</style>
</head>
	<body>

		<p>Hi <%=recipientNames%>,</p>
		<br/>
		<p>Please note that <%= organization %> have updated the following report for <%= report_month %>, <%= report_year %>;

		<ul>
			<li>
				To view the edits by <%= organization %> for <%= report_month %>, <%= report_year %>, follow the link <a title="<%= organization %>, <%= report_month %> <%= report_year %> edit" href="<%= report_url %>">here</a>
			</li>
		</ul>

		<p><br/><%=senderName%></p>

	</body>
</html>