<!DOCTYPE html>
<!-- Default home page -->
<html>
	<head>
		<style>
		</style>
	</head>
	<body>
		<p>Hi <%= name %>,</p>
		<p>
			The <%= type %> reporting period for <b><%= report_month %></b> is now open! Follow the links below to complete the report
			<ul>
			<% for(var i=0; i < reports.length; i++) { %>
				<li><%= reports[i].country %></li>
				<li><%= reports[i].cluster %></li>
				<li><%= reports[i].project_title %></li>
				<ul>
					<li>
						<a title="<%= report_month %> <%= type %> Report" href="<%= reports[i].report_url %>"><%= report_month %> <%= type %> Report</a>
					</li>
				</ul>
				<br/>
			<% } %>
			</ul>	
		</p>

		<p><br/><%= sendername %></p>

	</body>
</html>